name: CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  # Trigger the workflow on release,
  # but only when published
  release:
    types:
      - published

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup Java JDK
      uses: actions/setup-java@v1.3.0
      with:
        java-version: 1.8
        java-package: jdk
        architecture: x64
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml

    - name: Install dependent packages, build package and run tests
      run: mvn -B clean exec:exec package --file pom.xml

    - name: Deploy the package to github
      # Run deploy action on release
      env:
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_TOKEN: ${{ github.token }}
      if: github.event_name == 'release'
      run: mvn -B deploy --file pom.xml

    - name: Build docs
      env:
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_PASSWORD: ${{ secrets.GITHUB_PASSWORD }}
      run: mvn -B site --file pom.xml -s $GITHUB_WORKSPACE/settings.xml

    - name: Request Github Pages build job
      run: >-
        curl -L -X POST 
        -H "Content-Type: application/json"
        -H "Authorization: token ${{ secrets.GH_PAT}}"
        "https://api.github.com/repos/${{ github.repository }}/pages/builds"

